.checkout-product {
  display: flex;
  margin: 0 20px;
}
.checkout-product_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkout-product_info {
  padding-left: 20px;
}
.checkout-product_info_title {
  font-size: 17px;
  font-weight: 800;
}
.checkout-product_info_rating {
  display: flex;
}
.checkout-product_info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
}
.checkout-product_info > button:hover {
  cursor: pointer;
}
