.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.login_logo {
  margin: 20px auto;
  object-fit: contain;
  width: 100px;
}

.login_container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.login_container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login_container > form > h5 {
  margin-bottom: 5px;
}
.login_container > form > input {
  height: 30px;
  margin-bottom: 30px;
  background-color: white;
  width: 98%;
}

.login_container button {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.login_container button:hover {
  cursor: pointer;
}

.login_container_sign-in-button {
  border: 1px solid;
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
}

.login_container > p {
  margin-top: 15px;
  font-size: 12px;
}
.login_container_register-button {
  border: 1px solid;
  border-color: darkgray;
}
